---
import Github from '../components/icons/github.astro';
import Instagram from '../components/icons/instagram.astro';
---

<aside class="fixed bottom-0 left-4">
  <ul class="flex flex-col gap-4 after:content-[''] after:w-0.5 after:bg-(--light-slate) after:h-20 after:block after:m-[0px_auto] after:mt-4">
    <li>
      <Github size={30} class='text-(--light-slate) hover:text-(--golden) transition-colors duration-300'/>
    </li>
    <li>
      <Instagram size={30} class='text-(--light-slate) hover:text-(--golden) transition-colors duration-300' />
    </li>
  </ul>
</aside>