<header class="fixed top-0 w-full px-10 h-28 z-20 flex items-center">
  <nav class="flex justify-between w-full z-10">
    <span>R</span>
    <ul class="flex gap-5 font-(family-name:--font-mono) text-(length:--text-s)">
      <li class="hover:text-(--golden) cursor-pointer transition-colors duration-300">
        <a href="#about">
          <span class="text-(--golden)">01.</span>
          About    
        </a>
      </li>
      <li class="hover:text-(--golden) cursor-pointer transition-colors duration-300">
        <span class="text-(--golden)">02.</span>
        Experience</li>
      <li class="hover:text-(--golden) cursor-pointer transition-colors duration-300">
        <span class="text-(--golden)">03.</span>
        Projects
      </li>
    </ul>
  </nav>
</header>