<section class="flex flex-col justify-center mx-auto max-w-[1000px] min-h-screen">
  <h1 class="text-[var(--golden)] font-mono font-medium text-base tracking-widest">
    Hi, my name is
  </h1>

  <h2 class="text-2xl font-bold text-[var(--lightest-slate)]">
    Rodrigo Vega.
  </h2>
  
  <h3 class="text-xl text-[var(--slate)] font-bold">
    I build things for the web.
  </h3>

  <p class="text-[var(--light-slate)]">
    I'm a software engineer specializing in building exceptional digital experiences.
  </p>
</section>
