<section class="flex flex-col justify-center m-[0px_auto] max-w-[1000px] min-h-screen h-screen">
  <h1 class="text-(--golden) font-(family-name:--font-mono) font-medium text-base tracking-widest">Hi, my name is</>

  <h2 class="text-(length:--text-2xl) font-bold text-(--lightest-slate)">
    Rodrigo Vega.
  </h2>
  
  <h3 class="text-(length:--text-xl) text-(--slate) font-bold">I build things for the web.</h3>

  <p class="text-(--light-slate)">I'm a software engineer specializing in building exceptional digital experiences. </p>
</section>
    