---
import '@fontsource-variable/rubik'
import '@fontsource-variable/sometype-mono';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Rodrigo Vega</title>
	</head>
	<body>
    <slot />
	</body>
</html>

<style>
  @reference "tailwindcss";
	html{
    font-family: 'Rubik Variable', sans-serif, system-ui;
    @apply bg-(--oxford);
    @apply text-(--white);
    @apply scroll-smooth;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
	}

</style>
